<table>
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>price</th>
      <th>category</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.title }}</td>
      <td>{{ product.description | truncate }}</td>
      <td><app-status [statusText]=$any(product.price)> </app-status></td>
      <td>{{ product.category.id }}</td>
      <td>
      <button (click)="editProduct(product.id)">Editar</button>
      <button (click)="deleteProduct(product.id)">Eliminar</button>
    </td>
    </tr>
  </tbody>
</table>
